---
---

$brand-primary: #408add
$header-background-color: #a8bacd

$font-family-sans-serif: nimbus-sans, "Helvetica Neue", Helvetica, Arial, sans-serif
$headings-font-family: nimbus-sans-condensed, $font-family-sans-serif
$headings-font-weight: 400


@import styles

.main h3
	margin-top: 2rem

.main h4
	font-size: $font-size-h5

.main h5
	font-family: $font-family-sans-serif
	font-size: $font-size-base
	font-weight: bold
	margin-bottom: 0.2rem

a
	transition: color 0.1s

.pad-sides
	padding-left: 2rem
	padding-right: 2rem


header
	color: white
	text-align: center
	padding: 1rem
	background:
		color: $header-background-color
		image: url({{ site.baseurl }}{{ site.mediaurl }}/header.jpg)
		size: cover
		position: center bottom

$title-base-vw: 5vw
$title-base-rem: 3.75rem

.header-box
	display: block
	margin: 0 auto
	border: 0.2rem solid white
	padding: 2rem 1rem
	color: white
	background-color: rgba(darken($brand-primary,25%),0.05)
	transition: background-color 0.2s
	+media-breakpoint-up(sm)
		max-width: 50vw
		margin: $title-base-vw auto
		padding: $title-base-vw
		border-width: 0.08*$title-base-vw
	+media-breakpoint-up(xl)
		max-width: 45rem
		border-width: 0.08*$title-base-rem
		padding: $title-base-rem
		margin: $title-base-rem auto
	&:hover, &:focus, &:active
		color: white
		text-decoration: none
		background-color: transparent

.site-title
	text-transform: uppercase
	margin: 0
	line-height: 0.9em
	margin-top: 0.1em
	+media-breakpoint-up(sm)
		font-size: $title-base-vw
		line-height: $title-base-vw
	+media-breakpoint-up(xl)
		font-size: $title-base-rem
		line-height: $title-base-rem
	> small
		display: inline-block
		font-size: 0.8em
		line-height: 0.9em
		margin-top: 0.2em

.header-nav-link
	@extend .nav-link
	margin: 2rem 1em 0 0
	font-size: $font-size-h5


.container-fluid
	+media-breakpoint-up(md)
		max-width: 50vw
	+media-breakpoint-up(xl)
		max-width: 45rem

.main
	margin: 2rem 0
